.defaultInput {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8rem;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.Wrapper {
    margin-bottom: 1rem;
}
.yoi {
    color: #313866;
}
@media (max-width: 600px) {
    .yoi {
        font-size: 12px;
    }
    .defaultInput  {
        font-size: 10px;
    }
}