*::after,
*,
*::before,
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("https://i.ibb.co/HxwrSvb/1700.jpg");
  background-size: cover;
  transition: all .3s ease-in-out;
}